mixin fa-icon-link(icon, name, url)
  a(href=url)
    i(class="fa fa-" + icon, title=name, aria-hidden="true")
    span.sr-only= name
doctype
html
  head
    block head
      block title
        title JetWarp
      block styles
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Racing+Sans+One")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet" href="/layout.css")
        link(rel="stylesheet" href="/style.css")
  body
    .navbar: nav
      ul.mainmenu
        li: a(href="/index.html") Home
        li: a(href="/services.html") Services
        li: a(href="/samples.html") Samples
        li: a(href="mailto:info@jetwarp.com") Contact Us
        // li: a(href="https://blog.jetwarp.com") Blog
      ul.social
        li: +fa-icon-link("twitter", "Twitter", "https://twitter.com/jetwarp")
        // li: +fa-icon-link("instagram", "Instagram", "")
        li: +fa-icon-link("youtube", "YouTube", "https://www.jetwarp.com/youtube")
        // li: +fa-icon-link("linkedin", "LinkedIn", "")
    header
      img(src="/chrome-logo.svg")
      h1 JetWarp
    block main
    footer
      ul
        li &copy; 2016 JetWarp, all rights reserved.
        li: a(href="mailto:") info@jetwarp.com
    block scripts
