extends _base

block main
  section.pleat
    // Placeholder, replace with sample pic or even animated gif from a tour.
    // Contentwise, I would like this to be animated in some way to attract attention and give a taste of what JetWarp tours look like.
    img.preview(src="https://objects-us-west-1.dream.io/jetwarp-cdn/www/edgh.jpg")
    .summary
      h2 It's like being there.
      p.
        JetWarp creates an immersive virtual tour experience that allows buyers
        to explore the aspects of the property that matter most. Our tours help
        buyers get a feel for the property like they're really there.
      a.button-link(href="samples.html") See examples
  // TODO: just straight-up insert a tour here
  section.full-width-text
    h2 About Us
    p.
      We're a team of VR experts who want to help potential buyers with the
      home of their dreams. Right now, for people to get the feel of a property
      they have to invest their and their agent's time to visit in purpose.
      While there's no replacement for an in person tour, JetWarp is designed
      to give people a feel for the place before setting up a time consuming
      tour. With our service, people can either tour a property interactively
      from their personal device or with a simple VR adapter can get the
      experience of being there without the drive. Unlike video walkthroughs,
      VR gives potential buyers an immersive and interactive experience. They
      control the flow of the tour and interact with elements of the property.
      Our goal is to make househunting easier, more efficient, and more
      productive by creating a truly interactive preview environment.
