extends _base

block main
  main
    section.pleat
      iframe(src="http://youtu.be/OCWj5xgu5Ng" height="400" width="400")
      // Short Description of each video to be added here.
      .summary
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et nisl
          justo. Etiam suscipit, massa id maximus imperdiet, turpis metus efficitur
          mauris, eget bibendum nibh enim et lectus. Phasellus commodo ornare
          justo, ut faucibus urna mollis eleifend. Suspendisse nec arcu id nibh
          convallis molestie et in nulla. Nunc est mi, porta ac rhoncus id,
          accumsan quis metus. Quisque ac vulputate arcu. Sed iaculis dui ac massa
          posuere, malesuada lobortis nunc volutpat. In vel mi rhoncus lectus
          vulputate lobortis. Nullam eleifend nisl quis nisi condimentum auctor.
          Nulla tempus lacus sem, et ullamcorper turpis laoreet et. Morbi id congue
          ante. Vivamus hendrerit.
        a.button-link(href="mailto:info@jetwarp.com") info@jetwarp.com
    section.pleat
      iframe(src="http://youtu.be/OCWj5xgu5Ng" height="400" width="400")
      // Short Description of each video to be added here.
      .summary
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et nisl
          justo. Etiam suscipit, massa id maximus imperdiet, turpis metus efficitur
          mauris, eget bibendum nibh enim et lectus. Phasellus commodo ornare
          justo, ut faucibus urna mollis eleifend. Suspendisse nec arcu id nibh
          convallis molestie et in nulla. Nunc est mi, porta ac rhoncus id,
          accumsan quis metus. Quisque ac vulputate arcu. Sed iaculis dui ac massa
          posuere, malesuada lobortis nunc volutpat. In vel mi rhoncus lectus
          vulputate lobortis. Nullam eleifend nisl quis nisi condimentum auctor.
          Nulla tempus lacus sem, et ullamcorper turpis laoreet et. Morbi id congue
          ante. Vivamus hendrerit.
        a.button-link(href="mailto:info@jetwarp.com") info@jetwarp.com
    section.pleat
      iframe(src="http://youtu.be/OCWj5xgu5Ng" height="400" width="400")
      // Short Description of each video to be added here.
      .summary
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et nisl
          justo. Etiam suscipit, massa id maximus imperdiet, turpis metus efficitur
          mauris, eget bibendum nibh enim et lectus. Phasellus commodo ornare
          justo, ut faucibus urna mollis eleifend. Suspendisse nec arcu id nibh
          convallis molestie et in nulla. Nunc est mi, porta ac rhoncus id,
          accumsan quis metus. Quisque ac vulputate arcu. Sed iaculis dui ac massa
          posuere, malesuada lobortis nunc volutpat. In vel mi rhoncus lectus
          vulputate lobortis. Nullam eleifend nisl quis nisi condimentum auctor.
          Nulla tempus lacus sem, et ullamcorper turpis laoreet et. Morbi id congue
          ante. Vivamus hendrerit.
        a.button-link(href="mailto:info@jetwarp.com") info@jetwarp.com
