extends _base

block title
  title JetWarp: Samples

block main
  main
    section.pleat
      a.preview(href="https://demos.jetwarp.com/p/#/egdh")
        img(src="https://objects-us-west-1.dream.io/jetwarp-cdn/www/edgh.jpg")
      .summary
        h2 Sample Residential Property
        p.
          This house was one of the earliest properties captured by JetWarp for
          the residential real estate market. Our tour explores every room of
          the house, and includes flavorful plates of text conveying the
          various features and perks of the property for prospective buyers.
        a.button-link(href="https://demos.jetwarp.com/p/#/egdh") Visit demo
    section.pleat
      a.preview(href="https://demos.jetwarp.com/p/#/racer")
        img(src="https://objects-us-west-1.dream.io/jetwarp-cdn/www/racer.jpg")
      .summary
        h2 Cafe Racer
        p.
          Our first prototype, assembled for a Startup Weekend competition in
          early 2016, used the Cafe Racer in Seattle's University District as
          a proof-of-concept. Our example tour includes the three primary rooms
          of the cafe: its bar, its back room, and its gallery, home to its
          self-proclaimed "International Museum of Bad Art".
        a.button-link(href="https://demos.jetwarp.com/p/#/racer") Visit demo
    section.pleat
      a.preview
        img(src="https://objects-us-west-1.dream.io/jetwarp-cdn/www/surf.jpg")
      .summary
        h2 SURF Incubator
        p.
          SURF Incubator is a coworking space, occupying the entire seventh
          floor of the Wells Fargo building in downtown Seattle. We are
          currently assembling our most ambitious tour yet, as part of a
          sampler featuring all of Seattle's biggest coworking hubs.
        a.button-link Coming soon
