extends _base

block title
  title JetWarp: Services

block main
  section.pleat
    .summary
      h2 JetWarp
      p.
        JetWarp provides a virtual tour of the property to prospective buyers.
        People can access JetWarp tours from their desktops or mobile devices.
        For the fully immersive experience, they need only to connect their
        device to a VR accessory like Google Cardboard. Using JetWarp,
        prospective buyers can go through all of the rooms at their own pace
        interacting with elements of the environment, and making the crucial
        decision of whether they want to make the trip in person. By giving
        prospective buyers an in person experience, JetWarp helps save both
        buyers' and agents' time and energy that is often wasted in showing
        properties that don't really interest the buyer.
  section.pleat
    .summary
      h2 The Process
      p.
        The process is easy. JetWarp sends in a service provider to capture
        images of the property. This involves taking a series of pictures with
        a 360-monopod mounted camera. These pictures are uploaded into the
        JetWarp system. At that point, extra information can be added like
        interactive panels that can provide more information about things like
        construction, appliances, and special characteristics of the property.
        All the seller or agent has to do is link to the JetWarp hosted tour.
        While this is very much like the video tours that are already being
        used, the immersive and interactive experience gives the prospective
        buyer a better chance to engage.
  section.pleat
    .summary
      h2 Being There
      p.
        People can take JetWarp tours on their desktops or laptops, but the
        best experience can be had using VR. With an inexpensive accessory
        nearly any smartphone can be converted into a simple virtual reality
        device. By experiencing the tours through virtual reality prospective
        buyers can get the feeling of walking through the property and
        interacting with it. Unlike video tours, JetWarp tours allow people to
        move through the property at their own pace. Further, sellers and
        agents can choose to add informational icons throughout the property
        that can help propsective buyers learn more about the property as they
        choose. By being able to move through the property and interact with
        it, people are more likely to connect and become engaged.
        <a href="samples.html">Check it out!</a>
  section.full-width-text
    h2 Tiers and Package Options
    .tier-list
      .tier
        h3 Base Package
        p.
          Unlike many similar providers in this space, JetWarp offers
          <em>all</em> clients a complete representative point-by-point tour
          of your property, without limits or redundancies in the number of
          points to be photographed. JetWarp always captures as many panoramas
          as are needed to give online visitors the sense that they've fully
          toured the grounds, and offers a 100% money-back satisfaction
          guarantee.
      .tier
        h3 Full Facility
        p.
          For large-scale properties, such as office buildings, our base
          offering will include a series of detailed captures equivalent to a
          fully-representative linear walkthrough of the facility's space.
          However, at a more premium price point, JetWarp will remain on-site
          past the base walkthrough, collecting and assembling material "off
          the beaten path", to provide an experience that allows browsers to
          view <em>all</em> of a facility's visible space.
      .tier
        h3 Bulk Discounts
        p.
          For realtors who have a large portfolio of properties they wish to
          exhibit through JetWarp, we offer volume discounts for clients
          scheduling five or more consecutive shoots within three days of each
          other, as well as on-call subscription plans for a flexible range of
          properties each month.
    a.button-link(href="mailto:info@jetwarp.com") Contact us for pricing

  section.pleat
    .summary
      h2 Get more information
      p.
        If you have any questions about what JetWarp can do for you, don't
        hesitate to get in touch:
      a.button-link(href="mailto:info@jetwarp.com") info@jetwarp.com